footer
  background-image: url(/assets/img/#{$logo}), url(/assets/img/#{$hero})
  @extend %bg-img

  .lockup
    padding: 50px 30px 42px 30px
    +clearfix

    .content-wrap
      float: left
      margin: 5px 0 0 70px

      .copyright
        font-size: 12px
        margin: 0
        text-transform: uppercase
        color: rgba(0,0,0,0.4)

      a
        @extend %small-bold
        color: rgba(0,0,0,0.5)
        margin-right: 30px
        display: inline-block

        &:hover
          color: rgba(0,0,0,0.7)
