<section>
  <h3>About Myself</h3>

  <div class="face-lockup">

    <div class="face-img"></div>

    <div class="icon-pencil">{% include icons/pencil.html %}</div>
    <div class="icon-mouse">{% include icons/mouse.html %}</div>
    <div class="icon-browser">{% include icons/browser.html %}</div>
    <div class="icon-video">{% include icons/video.html %}</div>
  </div>

  <div class="blurb">
    <p><strong>Lorem ipsum dolor sit amet,</strong> consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="skills-lockup">

    <div class="skill-unit">
      <div class="skill_label">Communication</div>
      <div class="skill-icons skill-1">
        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>
    <div class="skill-unit">
      <div class="skill_label">Organization</div>
      <div class="skill-icons skill-2">
        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>
    <div class="skill-unit">
      <div class="skill_label">Learning</div>
      <div class="skill-icons skill-3">
        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>
    <div class="skill-unit">
      <div class="skill_label">Teaching</div>
      <div class="skill-icons skill-4">
        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>
    <div class="skill-unit">
      <div class="skill_label">Planning</div>
      <div class="skill-icons skill-5">
        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>
    <div class="skill-unit">
      <div class="skill_label">Visual Design</div>
      <div class="skill-icons skill-6">
        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>
    <div class="skill-unit">
      <div class="skill_label">UX Design</div>
      <div class="skill-icons skill-7">
        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>
    <div class="skill-unit">
      <div class="skill_label">Programming</div>
      <div class="skill-icons skill-8">
        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>

  </div>
</section>
