<section class="about-section">
  <h3 id="about">About Myself</h3>

  <div class="face-lockup">


    <div class="face-img"></div>

    <div class="icon-pencil">{% include icons/pencil.html %}</div>
    <div class="icon-mouse">{% include icons/mouse.html %}</div>
    <div class="icon-browser">{% include icons/browser.html %}</div>
    <div class="icon-video">{% include icons/video.html %}</div>
  </div>

  <div class="blurb">
    {{ site.data.settings.about_text }}
  </div>

  <div class="skills-lockup">
    {% for skill in site.data.settings.skills %}

    <div class="skill-unit">
      <div class="skill_label">{{ skill.name }}</div>
      <div class="skill-icons skill-{{ skill.value }}">
        <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
      </div>
    </div>

    {% endfor %}
  </div>
</section>
