<section class="section-clients">
  <h3 id="clients">Clients</h3>

  <div class="client-controls">
    <div class="client-controls-next">{% include icons/icon-next.html %}</div>
    <div class="client-controls-prev">{% include icons/icon-prev.html %}</div>
  </div>

  <div class="clients-mobile-nav">
    {% for client in site.data.settings.clients %}
      <span></span>
    {% endfor %}
  </div>

  <div class="clients-slider">
    {% for client in site.data.settings.clients %}
    <div class="client-unit">
      <div class="client-face">
        <img src="/assets/img/clients/{{ client.avatar }}" alt="client-face">
        <strong class="client-name">{{ client.name }}</strong>
        <em class="client-title">{{ client.title }}</em>
      </div>
      <div class="client-content">
        <div class="client-quote-mark begin">{% include icons/icon-quote-mark.html%}</div>
        <p>{{ client.content }}</p>
<img src="" alt="">
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="client-logos">
    {% for client in site.data.settings.clients %}
    <img class="client-logo" src="/assets/img/clients/{{ client.logo }}" alt="client logo">
    {% endfor %}
  </div>
</section>
